In [ ]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten,Dense

In [ ]:
from google.colab import files 
  
  
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

In [ ]:
import pandas as pd 
import io 
  
df = pd.read_csv(io.BytesIO(uploaded['Churn_Modelling.csv'])) 
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
x=df.drop(labels=['CustomerId','Surname','RowNumber','Exited'],axis=1)
y=df['Exited']

In [ ]:
x.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [ ]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label1=LabelEncoder()
x['Geography']=label1.fit_transform(x['Geography'])

In [ ]:
label1=LabelEncoder()
x['Gender']=label1.fit_transform(x['Gender'])

In [ ]:
x.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0       0  ...          1               1        101348.88
1          608          2       0  ...          0               1        112542.58
2          502          0       0  ...          1               0        113931.57
3          699          0       0  ...          0               0         93826.63
4          850          2       0  ...          1               1         79084.10

[5 rows x 10 columns]

In [ ]:
x=pd.get_dummies(x,drop_first=True,columns=['Geography'])
x.head()

   CreditScore  Gender  Age  ...  EstimatedSalary  Geography_1  Geography_2
0          619       0   42  ...        101348.88            0            0
1          608       0   41  ...        112542.58            0            1
2          502       0   42  ...        113931.57            0            0
3          699       0   39  ...         93826.63            0            0
4          850       0   43  ...         79084.10            0            1

[5 rows x 11 columns]

In [ ]:
##Features Standarizartion

In [ ]:
from sklearn.preprocessing import StandardScaler

x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=0,stratify=y)
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [ ]:
x_train

array([[-1.24021723, -1.09665089,  0.77986083, ...,  1.64099027,
        -0.57812007, -0.57504086],
       [ 0.75974873,  0.91186722, -0.27382717, ..., -1.55587522,
         1.72974448, -0.57504086],
       [-1.72725557, -1.09665089, -0.9443559 , ...,  1.1038111 ,
        -0.57812007, -0.57504086],
       ...,
       [-0.51484098,  0.91186722,  0.87565065, ..., -1.01507508,
         1.72974448, -0.57504086],
       [ 0.73902369, -1.09665089, -0.36961699, ..., -1.47887193,
        -0.57812007, -0.57504086],
       [ 0.95663657,  0.91186722, -1.32751517, ...,  0.50945854,
        -0.57812007,  1.73900686]])

In [ ]:
###Build ANN

In [ ]:
model=Sequential()
model.add(Dense(x.shape[1],activation="relu",input_dim=x.shape[1]))
model.add(Dense(128,activation="relu"))
model.add(Dense(1,activation="sigmoid"))

In [ ]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
model.fit(x_train,y_train.to_numpy(),batch_size=10,epochs=10,verbose=1)

Epoch 1/10
800/800 [==============================] - 1s 1ms/step - loss: 0.4883 - accuracy: 0.7793
Epoch 2/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3877 - accuracy: 0.8410
Epoch 3/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3483 - accuracy: 0.8644
Epoch 4/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3453 - accuracy: 0.8606
Epoch 5/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3323 - accuracy: 0.8657
Epoch 6/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3345 - accuracy: 0.8635
Epoch 7/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3382 - accuracy: 0.8588
Epoch 8/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3435 - accuracy: 0.8567
Epoch 9/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3279 - accuracy: 0.8696
Epoch 10/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3356 - accuracy: 0.8633

In [ ]:
y_pred=model.predict_classes(x_test)

/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [ ]:
y_pred

(2000, 1)

In [ ]:

y_test

1344    1
8167    0
4747    0
5004    1
3124    1
       ..
9107    0
8249    0
8337    0
6279    1
412     0
Name: Exited, Length: 2000, dtype: int64

In [ ]:
model.evaluate(x_test,y_test.to_numpy())

63/63 [==============================] - 0s 936us/step - loss: 0.3573 - accuracy: 0.8510

[0.3573452830314636, 0.8510000109672546]

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [ ]:
confusion_matrix(y_test,y_pred)

array([[1523,   70],
       [ 228,  179]])

In [ ]:
accuracy_score(y_test,y_pred)

0.851